@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-family: "Denk One", sans-serif;
  font-size: 1.5rem;
}

h2 {
  margin-left: .5rem;
}

p {
  margin-left: .5rem;
}

.img-flex {
  width: auto;
  max-width: 100%;
  display: flex;
  position: relative;
}

.content {
  background-color: #e2e2e2;
  padding-top: .3em;
  padding-bottom: .2em;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .img-flex {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  h2 {
    color: #fff;
  }

  p {
    color: #fff;
  }

  .content {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 7px;
    display: flex;
    position: absolute;
    max-width: 50%;
    top: 120px;
    left: 280px;
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .content {
    max-width: 45%;
    top: 320px;
    left: 480px;

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
